<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static './css/app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './css/index.css' %}">
    <script src="https://kit.fontawesome.com/bd6753c894.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">QueryBOT</a>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <video width="300" height="300" controls>
                    <source src='/media/{{ video.video_data }}' type="video/mp4">
                </video>
            </div>
            <div class="col-md-6" style="padding: 30px;">
                <form id="chat-reponse-form" enctype="multipart/form-data" method="POST" action="/home/chat/{{ video.id }}">
                    {% csrf_token %}
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Ask Question</span>
                        </div>
                        <textarea class="form-control" aria-label="With textarea" name="question"></textarea>
                    </div>
                    <input type="submit" value="Get Answer" class="submitButton">
                </form>
                ANSWER:<p>{{ answer }}</p>
            </div>
        </div>
    </div>
    <h2>Transcript</h2>
    <p>
        {{ file_content }}
    </p>
</body>
</html>