<!DOCTYPE html>
{% load static %}
{% load custom_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QueryBOT</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static './css/app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './css/loginandsignup.css' %}">
    <script src="https://kit.fontawesome.com/bd6753c894.js" crossorigin="anonymous"></script>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{%  static './css/main.css' %}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link href="{% static './css/select2.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static './css/chatBot.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static './css/timeline.css' %}" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
</head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/home">
                <div class="d-flex justify-content-start align-items-center">
                    <img src="{% static './images/chatbot-icon.jpg' %}">
                    <span>QueryBOT</span>
                </div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if not user.is_authenticated %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home/login"><i class="fas fa-sign-in-alt"></i>Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/signup"><i class="fas fa-user-plus"></i>SignUp</a>
                    </li>
                </ul>
            </div>
            {% else %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_staff  %}
                        <li class="nav-item">
                            <a class="nav-link" href="/home/questions/1/0"><i class="fas fa-sign-in-alt"></i>Questions</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/home/logout"><i class="fas fa-sign-in-alt"></i>Logout</a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </nav>
        {% for message in messages %}
        <div class="p-0">
            <div id="alert-button" class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        </div>
        {% endfor %}
        {% block content %}
        {% endblock %}
    </body>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="257be86a981729866f2fa61c-|49" defer=""></script>
    <!-- Time line Html Ends -->
    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static './js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static './js/popper.min.js' %}"></script>
    <script src="{% static './js/bootstrap.min.js' %}"></script>
    <script src="{% static './js/select2.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="{% static './js/index.js'  %}"></script>
    <script src="{% static './js/Chatbot.js'  %}"></script>
</html>